* {
    padding: 0;
    margin: 0;
}

/*   additional fonts   */

@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/GothamM.otf') format('opentype');
    font-weight: normal;
}

/*   globals   */

a {
    text-decoration: none;
}

body {
    margin: 0 auto;
}

body, button, h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Roboto', sans-serif;
}
.smartphone a:hover{
    border-bottom: none;
}

.smartphone button:hover {
    box-shadow: none;
    transform: translateY(0px);
}

.smartphone .hero__button-play:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #ffffff;
    min-width: 320px;
}

.fa-bars, .fa-times {
    color: #ffffff;
    font-size: 26px;
}

.fa-pause {
    color: #ffffff;
    font-size: 16px;
}

.fa-bookmark, .fa-book, .fa-bug, .fa-camera, .fa-check, .fa-box-open {
    color: #ffffff;
    font-size: 24px;
}

.logo {
    width: 160px;
    height: 56px;
}

/*   hero section   */

.hero {
    max-width: 1600px;
    background: url("../img/herosection-background.jpg"), linear-gradient(60deg, #352eb8 3%, #6036c7 30%, #e951f9 67%, #e951f9 100%);
    padding-top: 70px;
    box-sizing: border-box;
    padding-bottom: 215px;
    max-height: 900px;
}

.hero__header {
    width: 75%;
    margin: 0 12.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero__heading {
    font-size: 37px;
    color: #ffffff;
    letter-spacing: 0.02em;
    word-spacing: -0.025em;
    text-rendering: optimizeLegibility;
    font-weight: 300;
    margin-left: 292px;
    margin-bottom: 24px;
    line-height: 1.2em;
    height: 44px;
}

.hero__button-play {
    background-color: rgba(255, 255, 255, 0.4);
    width: 74px;
    height: 74px;
    line-height: 76px;
    border-radius: 37px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    border: none;
    margin-left: 292px;
    margin-bottom: 23px;
}

.hero__description {
    max-width: 490px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.035em;
    word-spacing: 0px;
    text-rendering: optimizeLegibility;
    font-weight: 300;
    line-height: 1.6em;
    margin-left: 296px;
    height: 84px;
}

.hero__button-howItWorks {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 182px;
    height: 52px;
    background-color: #ff298d;
    border-radius: 26px;
    border: 1px solid transparent;
    text-rendering: optimizeLegibility;
    outline: none;
    cursor: pointer;
    margin-left: 296px;
    margin-top: 42px;
}

.hero__content {
    margin-top: 217px;
    display: flex;
    flex-direction: column;
}

/*   main menu   */

.mainMenuToggle {
    width: 100%;
    height: 40px;
    background-color: transparent;
    margin: 8px 0;
    padding: 0 20px;
    box-sizing: border-box;
    display: none;
    position: relative;
}

.mainMenuToggle__button-hamburger {
    width: 38px;
    height: 38px;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    border-radius: 19px;
    cursor: pointer;
}

.mainMenu {
    display: flex;
    flex-direction: row;
    width: 450px;
    align-items: center;
    justify-content: space-between;
}

.mainMenu__list {
    width: 72%;
    display: flex;
    flex-direction: row;
}

.mainMenu__list-visible {
    position: absolute;
    display: flex;
    width: 72%;
    background-color: #000000;
}

.mainMenu__listItem {
    list-style: none;
    margin-right: 34px;
}

.mainMenu__link {
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0.06em;
    word-spacing: 0.06em;
    text-rendering: optimizeLegibility;
    font-weight: 300;
}

.mainMenu__button-signUp {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 130px;
    height: 52px;
    background-color: #ff298d;
    border-radius: 26px;
    text-rendering: optimizeLegibility;
    outline: none;
    cursor: pointer;
    border: none;
}

.mainMenu__listItem-unique {
    list-style: none;
    margin-right: 27px;
}

/*   how it works section   */

.howItWorks {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 139px;
    padding-bottom: 103px;
}

.howItWorks__heading {
    width: 262px;
    font-size: 36px;
    color: #333333;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 1px;
    word-spacing: 0;
    margin-bottom: 13px;
    text-rendering: optimizeLegibility;
    line-height: 1.2em;
    height: 43px;
}

.howItWorks__description {
    font-size: 1em;
    color: #8e8e93;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.062em;
    word-spacing: -0.04em;
    max-width: 490px;
    margin-top: 3px;
    line-height: 1.6em;
    text-rendering: optimizeLegibility;
    height: 50px;
}

.howItWorks__description-unique {
    margin-left: 7px;
}

.howItWorks__items {
    max-width: 1200px;
    margin: 27px 12.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*  how it works - item   */

.item {
    width: 340px;
    height: 400px;
    background-color: transparent;
    margin: 21px 27px 20px 27px;
    -webkit-box-shadow: 0 11px 58px -7px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 11px 58px -7px rgba(0, 0, 0, 0.10);
    box-shadow: 0 11px 58px -7px rgba(0, 0, 0, 0.10);
    padding-top: 77px;
    box-sizing: border-box;
}

.item__wrapper {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.item__1 {
    background-image: url('../img/item-bg-1.png');
    background-position: center;
}

.item__2 {
    background-image: url('../img/item-bg-2.png');
    background-position: center;
}

.item__3 {
    background-image: url('../img/item-bg-3.png');
    background-position: center;

}

.item__icon-2 {
    margin-left: 1px;
}

.item__icon-3 {
    margin-bottom: -4px;
}

.item__description {
    color: #333333;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    width: 194px;
    font-size: 16px;
    letter-spacing: 0.03em;
    word-spacing: 0;
    line-height: 26px;
    max-height: 120px;
    margin: 89px auto 20px auto;
}

/*   our services section   */


.ourServices {
    padding: 143px 0 92px 0;
    max-width: 1600px;
    background-image: url(../img/services-background.jpg);
    background-position: center;
    background-size: cover;
    max-height: 918px;
}
.ourServices__heading {
    margin-bottom: 16px;
    font-size: 36px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.04em;
    word-spacing: -2px;
    line-height: 1.2em;
    text-rendering: optimizeLegibility;
    height: 43px;
}

.ourServices__serviceWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 24px;
    padding-right: 11px;
    padding-top: 8px;
}
.ourServices__description {
    max-width: 550px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.057em;
    word-spacing: -0.04em;
    text-rendering: optimizeLegibility;
    line-height: 1.6em;
    margin: 0 auto;
    height: 50px;
}

/*   single service   */

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 285px;
    height: 180px;
    margin: 40px 55px 63px 63px;
}

.service__title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2em;
    word-spacing: 1px;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 19px;
}

.service__description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    text-rendering: optimizeLegibility;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    word-spacing: 0;
    margin-top: 1px;
}

/*   one time job   */

.oneTimeJob {
    max-width: 1600px;
    background: url("../img/oneTimeJob-bg.png"), #293440;
    max-height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.oneTimeJob__description {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    word-spacing: 0;
    text-rendering: optimizeLegibility;
    line-height: 40px;
    max-width: 449px;
    letter-spacing: 0.022em;
    margin-right: 18.4%;
    margin-left: 3%;
    margin-top: -5px;

}

.oneTimeJob__vacancy {
    width: 449px;
    height: 460px;
    position: relative;
    background: url(../img/offer-bg.png), #ffffff;
    margin-left: 18.4%;
    margin-right: 3%;
    -webkit-box-shadow: 0 11px 58px -7px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 11px 58px -7px rgba(0, 0, 0, 0.10);
    box-shadow: 0 11px 58px -7px rgba(0, 0, 0, 0.10);
}

.oneTimeJob__vacancyWrapper {
    height: 460px;
    margin: 0 auto;
    padding-top: 74px;
    box-sizing: border-box;
}

.oneTimeJob__vacancyDescription {
    margin: 51px auto 45px auto;
    color: #8e8e93;
    font-size: 16px;
    font-weight: 400;
    word-spacing: 1px;
    text-rendering: optimizeLegibility;
    line-height: 25px;
    width: 330px;
    letter-spacing: 0.043em;
    text-align: center;
    vertical-align: middle;
    max-height: 125px;
}

.oneTimeJob__button-info {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    word-spacing: 0.06em;
    width: 190px;
    height: 52px;
    background-color: #ff298d;
    border-radius: 26px;
    text-rendering: optimizeLegibility;
    outline: none;
    cursor: pointer;
    border: none;
    margin: 0 130px 0 130px;
}

.oneTimeJob__vacancyCurrency {
    color: #333333;
    font-size: 45px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    margin-right: 9px;
}

.oneTimeJob__vacancySalary {
    color: #333333;
    font-size: 100px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    letter-spacing: -7px;
    text-align: center;
    vertical-align: middle;
    height: 80px;
}

/*testimonials section*/

.testimonials {
    max-width: 1600px;
    background: #ffffff;
    padding-top: 170px;
    max-height: 677px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 237px;
    position: relative;
}

.testimonials__heading {
    margin-top: 3px;
    color: #333333;
    font-size: 36px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0.027em;
    line-height: 1.2em;
    height: 43px;
}

/*.testimonialSlider */


.testimonialSlide {
    display: none;
    position: relative;
    padding-top: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220px;
}

.testimonialSlide__active {
    display: flex;
}

.testimonialSlider__buttonsWrapper {
    width: 100%;
    position: absolute;
    bottom: 150px;
    margin: 0 auto;
    font-size: 0;
}

.testimonialSlider__button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
    border: 2px solid #8e8e93;
    margin: 0 10px;
    cursor: pointer;
}

.testimonialSlider__button:hover {
    background-color: #8e8e93;
}

.testimonialSlider__button-active {
    background-color: #000000;
    border: 2px solid #000000;
}

.testimonialSlide__company {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.15em;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    margin-top: 21px;
    line-height: 1.6em;
    margin-left: 4px;
    height: 25px;
}
.testimonialSlide__company-profession {
    color: #333333;
    font-size: 16px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
}

.testimonialSlide__author {
    margin-top: 8px;
    color: #333333;
    font-size: 16px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    margin-left: 3px;
    height: 16px;
}

.testimonialSlide__review {
    color: #8e8e93;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.03em;
    text-align: center;
    vertical-align: middle;
    max-width: 605px;
    margin-bottom: 3px;
    line-height: 1.7em;
    margin-top: 3px;
}
/*   partners   */

.partners {
    max-width: 1600px;
    height: 200px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.partners__wrapper {
    width: 1012px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 9px 1px 0px 7px;
}

.partners__logo {
    font-size: 0;
}
.partners__adobe {
    margin-left: 27px;
}
.partners__google {
    margin-left: 26px;
}
.partners__activision {
    margin-right: 6px;
}
.partners__invision {
    margin-left: -4px;
    margin-right: 4px;
}
/*   start your project   */

.startYourProject {
    max-width: 1600px;
    background: url(../img/startyourproject-bg.png), #2b3540;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 96px;
    padding-bottom: 105px;
}

.startYourProject__heading {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.019em;
    text-align: center;
    vertical-align: middle;
    max-width: 530px;
    margin-bottom: 25px;
    word-spacing: 1px;
    line-height: 1.5em;
}

.startYourProject__button {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    width: 262px;
    height: 52px;
    background-color: #ff298d;
    border-radius: 26px;
    text-rendering: optimizeLegibility;
    outline: none;
    cursor: pointer;
    border: none;
}


/*   footer    */

.footer {
    background-color: #000000;
    padding-top: 47px;
    padding-bottom: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__menu {
    margin: 0 0 4px 0;
}

.footer__menuItem {
    list-style: none;
}

.footer__menuList {
    width: 376px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__wrapper {
    width: 75%;
    margin: 0 12.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__menuLink {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.06em;
    word-spacing: 0.06em;
    text-rendering: optimizeLegibility;
    font-weight: 300;
}

/*   effects   */

.mainMenu__link:hover, .footer__menuLink:hover {
    border-bottom: 2px solid #ffffff;
}

.hero__button-play, .hero__button-howItWorks, .startYourProject__button, .oneTimeJob__button-info, .mainMenu__button-signUp {
    transition: all 0.3s ease 0s;
}

.hero__button-play:hover {
    background-color: rgba(255, 41, 141, 0.5);
    box-shadow: 0 8px 15px rgba(255, 41, 141, 0.5);
    transform: translateY(-7px);
}

.hero__button-howItWorks:hover, .startYourProject__button:hover, .oneTimeJob__button-info:hover, .mainMenu__button-signUp:hover {
    box-shadow: 0 8px 15px rgba(255, 41, 141, 0.5);
    transform: translateY(-7px);
}

.hero__button-play:active, .hero__button-howItWorks:active, .startYourProject__button:active, .oneTimeJob__button-info:active, .mainMenu__button-signUp:active {
    transform: translateY(1px);
}

/*   screen   */

@media screen and (max-width: 1260px) {

    .service {
        margin: 40px 2% 63px 2%;
    }

    .item {
        width: 320px;
        margin: 21px 10px 20px 10px;

    }

    .ourServices {
        max-height: 1500px;
    }

    .ourServices__serviceWrapper {
        padding: 7px 0 0 0;
    }
}

@media screen and (max-width: 1200px) {
    .item {
        width: 320px;
        margin: 21px 10px 20px 10px;
    }

    .oneTimeJob {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 800px;
        background-size: cover;
    }

    .oneTimeJob__description {
        text-align: center;
    }

    .oneTimeJob__vacancy {
        top: -30px;
    }

    .oneTimeJob__vacancy, .oneTimeJob__description {
        margin: 0 auto 35px auto;
    }

    .partners__wrapper {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .partners__logo {
        margin: 10px 10px;
    }
}

@media screen and (max-width: 1023px) {
    .hero {
        padding: 20px 0;
    }

    .howItWorks, .ourServices, .startYourProject {
        padding: 35px 0;
    }

    .testimonials {
        padding: 35px 0 100px 0;
    }

    .howItWorks__items {
        flex-direction: column;
    }

    .hero__header {
        flex-direction: column;
    }

    .hero__content {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
    }

    .mainMenu__list {
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-top: 10px;
    }

    .mainMenu {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }

    .mainMenu__listItem, .mainMenu__listItem-unique {
        margin-right: 20px;
    }

    .hero__description, .hero__heading, .hero__button-signUp, .hero__header, .hero__button-howItWorks, .hero__button-play {
        margin: 35px 0;
    }

    .hero__header, .mainMenu {
        width: 90%;
        margin: 0 5%;
        justify-content: center;
    }

    .hero__description {
        width: 100%;
        margin: 5px;
    }

    .service {
        margin: 20px 20px 20px 20px;
        height: 160px;
    }

    .service__title {
        margin: 5px 0;
    }

    .testimonialSlider__buttonsWrapper {
        bottom: 40px;
    }

    .partners {
        max-height: 150px;
        padding: 20px 0;
    }

    .footer {
        padding: 26px 0 27px;
    }

    .footer__wrapper {
        flex-direction: column-reverse;
        width: 100%;
        margin: 0 auto;
    }

    .footer__menu {
        margin-bottom: 20px;
        width: 90%;
    }

    .footer__menuList {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .service {
        margin: 8px 40px 35px 40px;
        height: 140px;
    }

    .testimonialSlide__review {
        width: 90%;
    }
    .partners {
        padding: 60px 0;
    }
    .partners__wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 auto;
    }
    .ourServices__serviceWrapper {
        padding: 7px 0 0 0;
        margin-top: 50px;    
    }
}

@media screen and (max-width: 560px) {
    .hero__header {
        flex-direction: column;
    }

    .hero__content {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
    }

    .mainMenu__list {
        text-align: center;
        position: absolute;
        display: none;
        background-color: #000000;
        align-items: center;
        justify-content: center;
        width: 90%;
        top: 114px;
    }

    .mainMenu__list, .mainMenu {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 9px;
    }

    .mainMenuToggle {
        display: block;
    }

    .mainMenu {
        margin: 0;
    }

    .mainMenu__button-signUp {
        margin-top: 30px;
    }

    .mainMenu__listItem, .mainMenu__listItem-unique {
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .mainMenu__link {
        font-weight: 700;
    }

    .hero__description, .hero__heading, .hero__button-signUp, .hero__header, .hero__button-howItWorks, .hero__button-play {
        margin: 20px 0;
    }

    .hero__heading {
        font-size: 24px;
    }

    .hero__header, .mainMenu {
        width: 90%;
        margin: 0 5%;
        justify-content: center;
    }

    .hero__description {
        font-size: 16px;
        max-width: 90%;
        margin: 0 5px;
        text-align: center;
    }

    .item {
        width: 320px;
        height: 328px;
        margin: 10px 0;
    }

    .oneTimeJob__vacancy {
        width: 320px;
        background-size: auto 100%;
    }

    .oneTimeJob__button-info {
        margin: 0 65px 0 65px;
    }

    .oneTimeJob__vacancyDescription {
        width: 300px;
        font-size: 14px;
    }

    .testimonialSlide__review {
        font-size: 14px;
        line-height: 20px;
    }

    .testimonialSlide__company, .testimonialSlide__company-profession {
        font-size: 15px;
        height: 19px;
    }

    .startYourProject__heading, .oneTimeJob__description, .ourServices__description, .howItWorks__description {
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .oneTimeJob__vacancy {
        top: 0;
    }

}
